html, body {
  padding: 0;
  margin: 0;
}

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

html * {
  box-sizing: border-box;
}

html #page {
  overflow: hidden;
}

html #page .page-header {
  position: fixed
}

html .btn {
  display: flex;
}

html .btn.btn--small {
  display: flex;
}

html .btn span {
  display: inline;
}

html .btn:hover, html .btn:active, html .btn:focus {
  background-color: #fff;
}

body .btn:hover,
body .btn:active,
body .btn:focus {
  background-color: #fff;
}

body > .wrapper > .container {
  display: flex;
}

body [class="icon-"],
body [class*="icon-"],
body [class^="icon-"],
body [class~="icon-"],
body [class|="icon-"],
body [class$="icon-"] {
  display: inline;
}

body span:not(.icon),
body button:not(.btn),
body div:not(.container),
body div:not([class^="col-"]) {
  display: none;
}

body .container[data-attr="some-value"] {
  display: inline;
}

body .container[class*=" icon-"] {
  display: inline;
}

body .container[class*="icon- "] {
  display: inline;
}

body .container[data-attr='some-value'] {
  display: inline;
}

body .container[class*=' icon-'] {
  display: inline;
}

body .container[class*='icon- '] {
  display: inline;
}

body .hello:not([class*="left labeled"]) {
  border-radius: 3rem;
}

body a:not([href]):not([class]),
body a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

@media (orientation: portrait), (max-width:200px) {
  html, body {
    padding: 0;
    margin: 0;
  }

  body a:not([href]):not([class]),
  body a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
  }
}