:root {
  --first-color: #16f;
  --second-color: #ff7;
}

html, body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#page {
  overflow: hidden;
}

#page .page-header {
  position: fixed
}

.btn {
  display: flex;
}

.btn.btn--small {
  display: flex;
}

.btn span {
  display: inline;
}

.btn:hover, .btn:active, .btn:focus {
  background-color: #fff;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: #fff;
}

.wrapper > .container {
  display: flex;
}

[class="icon-"],
[class*="icon-"],
[class^="icon-"],
[class~="icon-"],
[class|="icon-"],
[class$="icon-"] {
  display: inline;
}

span:not(.icon),
button:not(.btn),
div:not(.container),
div:not([class^="col-"]) {
  display: none;
}

.container[data-attr="some-value"] {
  display: inline;
}

.container[class*=" icon-"] {
  display: inline;
}

.container[class*="icon- "] {
  display: inline;
}

.container[data-attr='some-value'] {
  display: inline;
}

.container[class*=' icon-'] {
  display: inline;
}

.container[class*='icon- '] {
  display: inline;
}

.hello:not([class*="left labeled"]) {
  border-radius: 3rem;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

@keyframes slidein {
  from {
    margin-left:100%;
    width:300%
  }

  to {
    margin-left:0%;
    width:100%;
  }
}

@keyframes identifier {
  0% { top: 0; left: 0; }
  30% { top: 50px; }
  68%, 72% { left: 50px; }
  100% { top: 100px; left: 100%; }
}

@-webkit-keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

@-moz-keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

@media (orientation: portrait), (max-width:200px) {
  h1 {
      font-size:50px;
      color:red;
  }

  .btn:hover, .btn:active, .btn:focus {
    background-color: #fff;
  }
}